node_modules/**
src/**
.vscode/**
*.vsix
.DS_Store
tsconfig.json
package-lock.json

!out/**
!backend/**
backend/**/__pycache__/**
backend/**/*.pyc
backend/.venv/**
!resources/**
!README.md
!CHANGELOG.md
!SUPPORT.md
!package.json
